@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  input {
    @apply outline-none;
  }
}

input:focus + .error-message {
  display: none;
}
