@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  input,
  textarea,
  button,
  select,
  option {
    @apply outline-none;
  }
}

input:focus + .error-message {
  display: none;
}
.quill {
  @apply border border-strock rounded-lg overflow-hidden;
  .ql-toolbar.ql-snow {
    text-align: center;
    border: none;
    @apply bg-text3 py-3 px-5 bg-opacity-10;
  }
  .ql-editor {
    @apply border-none font-primary text-[16px] leading-[23px] font-normal dark:text-white;
  }

  .ql-editor.ql-blank::before {
    @apply text-sm font-normal not-italic dark:text-text3 text-text4;
  }

  .ql-container.ql-snow {
    @apply dark:border-darkStroke;
  }

  svg,
  path,
  polyline,
  rect {
    @apply text-current;
  }
}

.main-layout {
  display: grid;
  grid-template-columns: 76px minmax(0, 1fr);
  align-items: start;
  @media screen and (max-width: 1023.98px) {
    display: block;
  }
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ReactModal__Content::-webkit-scrollbar {
  display: none;
}

body {
  .react-date-picker {
    @apply w-full px-6 py-4 text-sm font-medium border-2 rounded-xl placeholder:text-text4 dark:placeholder:text-text2 dark:text-white bg-transparent border-strock text-text1 dark:border-darkStroke;
    height: 54px;
    .react-date-picker__wrapper {
      @apply border-none justify-between items-center;
    }
    .react-date-picker__clear-button {
      @apply hidden;
    }
    .react-date-picker__inputGroup {
      min-width: 0;
      flex-grow: 0;
    }
    .react-date-picker__button {
      padding: 0;
    }
  }
  .react-date-picker__calendar .react-calendar {
    @apply border-none shadow rounded-lg;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    @apply bg-transparent;
  }
  .react-calendar__tile:not(
      .react-calendar__tile--active,
      .react-calendar__tile--now
    ):enabled:hover,
  .react-calendar__tile:not(
      .react-calendar__tile--active,
      .react-calendar__tile--now
    ):enabled:focus {
    @apply bg-primary text-primary rounded-lg bg-opacity-10;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus,
  .react-calendar__tile--active,
  .react-calendar__tile--active:hover {
    @apply bg-primary text-white rounded-lg;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus,
  .react-calendar__tile--now,
  .react-calendar__tile--now:hover {
    @apply bg-secondary text-white rounded-lg;
  }
}
