@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  input,
  textarea,
  button,
  select {
    @apply outline-none;
  }
}

input:focus + .error-message {
  display: none;
}
.quill {
  @apply border border-strock rounded-lg overflow-hidden;
  .ql-toolbar.ql-snow {
    text-align: center;
    border: none;
    @apply bg-text3 py-3 px-5 bg-opacity-10;
  }
  .ql-editor {
    @apply border-none font-primary text-base font-normal dark:text-white;
  }

  .ql-editor.ql-blank::before {
    font-style: normal;
    @apply text-sm font-normal dark:text-text3;
  }

  .ql-container.ql-snow {
    @apply dark:border-darkStroke;
  }

  svg,
  path,
  polyline,
  rect {
    @apply text-current;
  }
}
